﻿@using System.Web.Optimization

@section scripts
{
    @Scripts.Render("~/bundles/home")
}

<section id="ideas">
    <header id="header">
        <h1>Ideas</h1>
        <input data-bind='value: NewIdeaVM.idea.Title, valueUpdate: "afterkeydown", OnEnterKeyPressed: NewIdeaVM.save' placeholder="What's your idea?" autofocus>
    </header>
    <section id="IdeaList">
        <ul data-bind='foreach: Ideas'>
            <li data-bind='click: $root.NewIdeaVM.edit'>
                <span data-bind="text: $data.Title, visible: !$data.active"></span>
                <input type="text" data-bind='value: $data.Title, visible: $data.active, OnEnterKeyPressed: $root.NewIdeaVM.save'/>
            </li>
        </ul>
    </section>
</section>